<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html"
      class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>HelpDesk | Admin Panel</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/c0c6be1449.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>
<main class="flex">
    <nav id="navabarhelp" th:insert="fragments/header :: header_fragment"></nav>
    <section class="flex-1 bg-gray-900 bg-opacity-20">
        <div class="w-full h-full bg-amber-50">
            <div class="bg-gray-900 w-full text-right text-white text-2xl h-18 p-1">
                <input type="text" class="rounded-2xl text-gray-600"> <button class="rounded-2xl bg-white text-black m-1.5"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="grid grid-cols-4 gap-4 mb-20 ">
                <div th:each="ticket : ${ticketList}" class="m-2 flex flex-col rounded-xl border-gray-300 hover:ring-brand ring-2 ring-gray-300 hover:border-gray-500 overflow-hidden shadow-xl max-wv-9 min-hv-1 max-hv-9 border-1">
                    <div class="h-14 bg-white hover:bg-brand hover:text-white transition-all gap-2 p-4 flex flex-row items-center">
                        <span th:text="${ticket.ticket_time}" class="flex-grow font-bold text-xl"></span>
                        <span class="">
				<button class="btn">☰</button></span>
                        <div>
                            <button class="btn">×</button>
                        </div>
                    </div>
                    <div class="flex flex-col bg-white fit-content bg-white">
                        <div class="fit-content overflow-y-auto flex-grow p-4 " style="max-height:calc(60vh - 56px)">
                          <p class="font-bold">Subject: </p>  <p th:text="${ticket.description}"></p>
                            <p class="font-bold">Status: </p> <p th:text="${ticket.status.status}"></p>
                            <hr>
                            <div class="flex space-x-2 justify-center p-4">
                                <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-block px-6 py-2.5 bg-blue-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                                ><i class="fa-regular fa-eye"></i> SHOW</button>
                                <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-block px-6 py-2.5 bg-red-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"
                                ><i class="fa-solid fa-trash"></i> DELETE</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </section>
</main>

<script type="application/javascript" src="/resources/js/main.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>