<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html"
      class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title th:text="${'HelpDesk | HR Management - '+type}">HelpDesk | HR Management</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c0c6be1449.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>
<main class="flex">
  <nav  th:insert="fragments/header :: header_fragment"></nav>
  <section class="flex-1 bg-gray-900 bg-opacity-20">
    <div class="flex justify-center items-center h-screen text-center text-black">
      <div class="bg-white shadow-md rounded-2xl px-8 pt-6 pb-8 mb-4">
        <h2 class="text-gray-800 font-bold">HR Management -  <span class="font-medium" th:text="${type}"> </span> </h2>
        <hr>
        <div class="flex relative rounded-2xl shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-700 dark:text-white">
            <tr>
              <th scope="col" class="py-3 px-6">
                Name
              </th>
              <th scope="col" class="py-3 px-6">
                Surname
              </th>
              <th scope="col" class="py-3 px-6">
                Email
              </th>
              <th scope="col" class="py-3 px-6">
                Phone
              </th>
              <th scope="col" class="py-3 px-6">
                Department
              </th>
              <th scope="col" class="py-3 px-6">
                Action
              </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users != null and !users.isEmpty()}" th:each="user : ${users}" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
              <td th:text="${user.id}"  class="hidden">

              </td>
              <td th:text="${user.name}"  class="py-4 px-6 font-medium text-white whitespace-nowrap">

              </td>
              <td th:text="${user.surname}" class="py-4 px-6">

              </td>
              <td th:text="${user.email}" class="py-4 px-6">

              </td>
              <td th:text="${user.phone_number}" class="py-4 px-6">

              </td>
              <td th:text="${user.department.name}" class="py-4 px-6">

              </td>
              <td class="py-4 px-6">
                <a  class="editUserBtn font-medium text-blue-600 dark:text-blue-500 hover:underline"><i class="fa-solid fa-pen"></i> Edit</a>
                <a  th:href="${'/admin/hr/deleteUser/'+user.id}" class="font-medium text-red-700 dark:text-red-500 hover:underline"><i class="fa-solid fa-trash"></i> Delete</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <button id="addUserBtn" type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="mt-2 inline-block px-6 py-2.5 bg-blue-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
        > <i class="fa-solid fa-user-plus"></i> Add new user</button>
      </div>
    </div>
  </section>
  <div id="addModal" class="relative z-10 hidden"  aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <div  class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <form id="user-form" method="post" th:action="@{/api/addUser}">
                  <h3 class="form-tittle text-lg leading-6 font-medium text-gray-900" >Add new user</h3>
                  <input type="hidden" placeholder="id" id="userid" name="userid">
                  <div class="mt-2">
                    <label for="name" class="text-sm text-gray-500">Name</label>
                  </div>
                  <div class="mt-6">
                    <input type="text" placeholder="Name" id="name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                  </div>
                  <div class="mt-2">
                    <label for="surname" class="text-sm text-gray-500">Surname</label>
                  </div>
                  <div class="mt-6">
                    <input type="text" placeholder="Surname" id="surname" name="surname" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                  </div>
                  <div class="mt-2">
                    <label for="phone_number" class="text-sm text-gray-500">Phone number</label>
                  </div>
                  <div class="mt-6">
                    <input type="text" placeholder="Phone number" id="phone_number" name="phone_number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                  </div>
                  <div class="mt-2">
                    <label for="email" class="text-sm text-gray-500">Email</label>
                  </div>
                  <div class="mt-6">
                    <input type="email" placeholder="Email" name="email" id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                  </div>
                  <div class="mt-2">
                    <label for="password" class="text-sm text-gray-500">Password</label>
                  </div>
                  <div class="mt-6">
                    <input type="password" id="password" placeholder="*******" name="password" class="password shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                  </div>
                  <hr>
                  <div class="mt-2">
                    <label for="department" class="text-sm text-gray-500">Department</label>
                  </div>
                  <div class="mt-6">
                    <select name="department" id="department">
                      <option th:each="deparment : ${departments}" th:value="${deparment.id}" th:text="${deparment.name}"></option>
                    </select>
                  </div>
                  <div id="active-role-section">
                      <div class="mt-2">Active Roles</div>
                      <div class="active-roles mt-6">
                      </div>
                  </div>
                  <div class="mt-2">
                    <label for="role" class="text-sm text-gray-500">Role</label>
                  </div>
                  <div class="mt-6">
                    <select name="role" id="role">
                      <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                    </select>
                  </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button  type="submit" class="addBtn w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-900 text-base font-medium text-white hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 sm:ml-3 sm:w-auto sm:text-sm">Add</button>
            <button id="hide-modal" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-500 text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  let token = $('#_csrf').attr('content');
  let header = $('#_csrf_header').attr('content');
  $(document).on('click','#hide-modal',function (){
    $('#addModal').hide();
  })
  $(document).on('click','.editUserBtn',function (){

    let currentTD = $(this).closest("tr").find("td");
    $('#user-form').attr('action','/api/editUser')
    $('.addBtn').text("Edit user")
    $('#active-role-section').show();
    $('#userid').val($(currentTD).eq(0).text())
    $('#name').val($(currentTD).eq(1).text())
    $('#surname').val($(currentTD).eq(2).text())
    $('.form-tittle').text("Edit user " +  $('#name').val() )
    $('#email').val($(currentTD).eq(3).text())
    $('#phone_number').val($(currentTD).eq(4).text())
    $('.password').attr('required',false)
      $.ajax({
        type: "GET",
        url: "/api/getUserRoles",
        data: { "userid" : $('#userid').val() },
        beforeSend: function(xhr) {
          xhr.setRequestHeader(header, token);
        },
        success: function (response){
          $('.active-roles').empty();
          $.each(response, function (i, role){
            $('.active-roles').append("<span id=\"badge-dismiss-default\" class=\"inline-flex items-center py-1 px-2 mr-2 text-sm font-medium text-blue-800 bg-blue-100 rounded dark:bg-blue-200 dark:text-blue-800\">\n" +
                    "  "+role.name+" "+
                    " <button value='"+role.id+"' type=\"button\"  class=\"deleteRoleBtn inline-flex items-center p-0.5 ml-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-300 dark:hover:text-blue-900\" data-dismiss-target=\"#badge-dismiss-default\" aria-label=\"Remove\">\n" +
                    "      <svg  class=\"w-3.5 h-3.5\" aria-hidden=\"true\" fill=\"currentColor\" viewBox=\"0 0 20 20\" xmlns=\"http://www.w3.org/2000/svg\"><path fill-rule=\"evenodd\" d=\"M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z\" clip-rule=\"evenodd\"></path></svg>\n" +
                    "      <span class=\"sr-only\">Remove</span>\n" +
                    "  </button>\n" +
                    "</span>");
          })
        },
        error: function (e){

        }
      })
    $('#addModal').show();
  })
  $(document).on('click','.deleteRoleBtn',function () {
    $.ajax({
      url: "/api/deleteUserRole",
      type: "POST",
      data: { "role" : $(this).val(), "userid" : $("#userid").val() },
      beforeSend: function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      success: function (){
        notification("Role deleted successful");
        $('#addModal').fadeOut(300)

      },
      error: function (e){

      }
    })
  })
  $(document).on('click','#addUserBtn',function (){
    $('.form-tittle').text("Add new user")
    $('#active-role-section').hide();
    $('#user-form').attr('action','/api/addUser')
    $('#name').val("")
    $('#surname').val("")
    $('#email').val("")
    $('#phone_number').val("")
    $('#password').val("")
    $('.password').attr('required',true)
    $('.addBtn').text("Add user")
    $('#addModal').show();
  })
</script>
<script type="application/javascript" src="/resources/main/js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>