<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html"
      class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>HelpDesk | Departments</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c0c6be1449.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>
<main class="flex">
    <nav  th:insert="fragments/header :: header_fragment"></nav>
    <section class="flex-1 bg-gray-900 bg-opacity-20">
        <div class="flex justify-center items-center h-screen text-center text-black">
            <div class="bg-white shadow-md rounded-2xl px-8 pt-6 pb-8 mb-4">
                <h2 class="text-gray-800 font-bold">Departments Management </h2>
                <hr>
                <div class="mt-6 flex relative rounded-2xl shadow-md sm:rounded-lg">
                    <table  id="departments-table" class="w-full rounded-2xl text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-700 dark:text-white">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                Name
                            </th>

                            <th scope="col" class="py-3 px-6">
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${departments != null and !departments.isEmpty()}" th:each="department : ${departments}" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <td th:text="${department.id}"  class="hidden">
                            </td>
                            <td th:text="${department.name}"  class="py-4 px-6 font-medium text-white whitespace-nowrap">
                            </td>
                            <td class="py-4 px-6">
                                <a  class="ediDepartmentBtn font-medium text-blue-600 dark:text-blue-500 hover:underline"><i class="fa-solid fa-pen"></i> Edit</a>
                                <a  class="deleteDepartment font-medium text-red-700 dark:text-red-500 hover:underline"><i class="fa-solid fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button id="addDepartmentBtn" type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="mt-2 inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out"
                > <i class="fa-solid fa-plus"></i> Add new department</button>
            </div>
        </div>
    </section>
</main>
<script>
    let currentTD;
    let currentTR;
    $(document).on('click','#addDepartmentBtn',function () {
        $('#addDepartmentBtn').attr('disabled',true);
        $('#departments-table tbody>tr:last').after("<tr class='bg-white border-b dark:bg-gray-900 dark:border-gray-700'><td class='py-4 px-6 font-medium text-white whitespace-nowrap'><input type='text' placeholder='Department name' class='pl-2 text-black rounded w-full'></td><td class='py-4 px-6'><button class='addDepartment font-medium text-green-500'><i class='fa-solid fa-circle-check'></i> Add department</button> </td> </tr>")
    })
    $(document).on('click','.ediDepartmentBtn',function () {
        currentTD = $(this).closest("tr").find("td");
        let department_name = $(currentTD).eq(1).text()
        $(currentTD).eq(1).empty().append("<input type='text' class='pl-2 text-black rounded w-full' value='"+department_name+"'>")
        $(currentTD).eq(2).empty().append("<button class='editDepartment font-medium text-yellow-500'><i class='fa-solid fa-pen-to-square'></i> Edit department</button>" +
            "<button class='cancelEditDepartment pl-2 font-medium text-red-500'><i class='fa-solid fa-xmark'></i></button>")
    })
    $(document).on('click','.cancelEditDepartment',function () {
        currentTD = $(this).closest("tr").find("td");
        let old_name = $(this).closest("tr").find("td>input");
        $(currentTD).eq(1).empty().append("<p>"+old_name.val()+"</p>")
        $(currentTD).eq(2).empty().append(" <a  class='ediDepartmentBtn font-medium text-blue-600 dark:text-blue-500 hover:underline'><i class='fa-solid fa-pen'></i> Edit</a>" +
            "<a  class='deleteDepartment font-medium text-red-700 dark:text-red-500 hover:underline'><i class='fa-solid fa-trash'></i> Delete</a>")
    })
    $(document).on('click','.editDepartment',function () {
        currentTD = $(this).closest("tr").find("td");
        let new_name = $(this).closest("tr").find("td>input");
        currentTR = $(this).closest("tr");
        $.ajax({
            url: '/admin/department/edit',
            type: 'post',
            data: { "department_id" : $(currentTD).eq(0).text(), 'department_name' : new_name.val() },
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (response) {
                $(currentTD).eq(1).empty().append("<p>"+response.name+"</p>")
                $(currentTD).eq(2).empty().append(" <a  class='ediDepartmentBtn font-medium text-blue-600 dark:text-blue-500 hover:underline'><i class='fa-solid fa-pen'></i> Edit</a>" +
                    "<a  class='deleteDepartment font-medium text-red-700 dark:text-red-500 hover:underline'><i class='fa-solid fa-trash'></i> Delete</a>")
            },
            error: function (){

            }
        })
    })
    $(document).on('click','.deleteDepartment',function (){
        currentTD = $(this).closest("tr").find("td");
        currentTR = $(this).closest("tr");
        $.ajax({
            url: '/admin/department/delete',
            type: 'post',
            data: { "department_id" : $(currentTD).eq(0).text() },
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (response) {
                if(response==="Successful"){
                    currentTR.remove();
                }
            },
            error: function (){

            }
        })
    })
    $(document).on('click','.addDepartment',function () {
        let currentInput = $(this).closest("tr").find("td>input");
        let currenButton = $(this).closest("tr").find("td>button");
        $(currenButton).empty().append("<i class='fa-solid fa-circle-notch fa-spin'></i>")
        $.ajax({
            url: '/admin/department/add',
            type: 'post',
            data: { "department_name" : $(currentInput).val() },
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (response) {
                if(response==="Successful"){
                    $('#addDepartmentBtn').attr('disabled',false);
                    location.reload()
                }
            },
            error: function (){
                $('#addDepartmentBtn').attr('disabled',false);
            }
        })
    })
</script>
<script type="application/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>