<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html"
      class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>HelpDesk | Admin dashboard</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/toastify.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script th:src="@{/js/fontawesome/v5/fontawesomeV5.js}" crossorigin="anonymous"></script>
    <script th:src="@{/js/chart/chart.js}"></script>
    <script th:src="@{/js/JQuery/3.5.0/jquery.min.js}"></script>
</head>
<body>
<main class="flex">
    <nav  th:insert="fragments/header :: header_fragment"></nav>
    <section class="flex-1 bg-gray-900 bg-opacity-20">
        <div class="flex justify-center items-center h-screen text-center text-black">
            <div class="bg-white shadow-md rounded-2xl px-8 pt-6 pb-8 mb-4">
                <h1 th:text="${'Welcome ' + loggedUser.name + '!'}">Welcome, {{USER}}!</h1>
                <hr>
                   <h2 id="stats_name" class="text-2xl font-bold">APP STATS</h2>
                <div class="pl-2 ml-2 mt-2">
                    <div class="inline-flex">
                        <button class="done-stats bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-l-2xl">
                            APP STATS
                        </button>
                        <button class="trouble-stats bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-r-2xl">
                            TOP TROUBLE MAKERS
                        </button>
                    </div>

                </div>
                <section id="cart-content">
                <div class="pl-2 ml-2 mt-2">
                    <canvas class="p-10" id="done-undone-chart"></canvas>
                </div>
                <div class="flex justify-center items-center">
                    <div class="pl-2 ml-2 mt-2">
                        <h1 th:text="${totalTicketCount}" class="font-bold text-2xl">{{TOTAL_TICKETS_COUNT}}</h1>
                        <hr>
                        <h4>total tickets</h4>
                    </div>
                    <div class="pl-2 ml-2 mt-2">
                        <h1 th:text="${ticketByNewest}" class="font-bold text-2xl">{{TICKET_COUNT}}</h1>
                        <hr>
                        <h4>Newest Tickets</h4>
                    </div>
                    <div class="pl-2 ml-2 mt-2">
                        <h1 id="ticketsDone" th:text="${ticketByDone}" class="font-bold text-2xl">{{TICKET_COUNT}}</h1>
                        <h1 id="ticketsUndone" th:text="${ticketByUndone}" class="hidden">{{TICKET_COUNT}}</h1>
                        <hr>
                        <h4>Done tickets</h4>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="pl-2 ml-2 mt-2">
                        <h1 th:text="${departmentsCount}" class="font-bold text-2xl">{{DEPARTMENTS_COUNT}}</h1>
                        <hr>
                        <h4><a th:href="@{/admin/api/departments}"> Departments</a></h4>
                    </div>
                    <div class="pl-2 ml-2 mt-2">
                        <h1 th:text="${usersCount}" class="font-bold text-2xl">{{USERS_COUNT}}</h1>
                        <hr>
                        <h4><a th:href="@{/admin/hr/workers}"> Users </a></h4>
                    </div>
                </div>
                </section>
                <section class="hidden mt-2" id="trouble-makers-section">
                    <table class="w-full text-sm text-left text-white">
                        <thead class="text-xs text-white uppercase rounded bg-gray-50 bg-gray-700">
                        <tr class="border-b bg-gray-900 border-gray-700">
                            <td class="py-4 px-6">Name</td>
                            <td class="py-4 px-6">Number of tickets</td>
                        </tr>
                        </thead>
                        <tbody class="rounded">
                            <tr class="border-b bg-gray-900 border-gray-700" th:if="${mostTroubleMakers != null}" th:each="user : ${mostTroubleMakers}">
                                <td class="py-4 px-6" th:text="${user.name + ' ' + user.surname}"></td>
                                <td class="py-4 px-6 text-right" th:text="${user.ticketSet.size()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </section>
</main>
<script>
    let cart_content;
    $(document).on('click','.done-stats',function () {
        cart_content = $('#cart-content').html()
        $('#stats_name').html("<strong>APP</strong> STATS")
        $('#trouble-makers-section').hide()
        $('#cart-content').show()

    })
    $(document).on('click','.trouble-stats',function () {
        cart_content = $('#cart-content').html()
        $('#stats_name').html("TOP <strong>10</strong> TROUBLE MAKERS")
        $('#cart-content').hide()
        $('#trouble-makers-section').show()
    })
    const dataDoughnut = {
        labels: ["Done", "Undone"],
        datasets: [
            {
                label: "Done/Undone Chart",
                data: [$('#ticketsDone').text(), $('#ticketsUndone').text()],
                backgroundColor: [
                    "rgb(94, 194, 74)",
                    "rgb(189, 32, 32)",
                ],
                hoverOffset: 4,
            },
        ],
    };
    const configDoughnut = {
        type: "doughnut",
        data: dataDoughnut,
        options: {},
    };
    let chartBar = new Chart(
        document.getElementById("done-undone-chart"),
        configDoughnut
    );
</script>
<script type="text/javascript" th:src="@{/js/toastify.js}"></script>
</body>
</html>