<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html"
      class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>HelpDesk | New Ticket</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/toastify.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c0c6be1449.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/JQuery/1.7.1/jquery.min.js}"></script>
    <script th:src="@{/js/JQuery/3.5.0/jquery.min.js}"></script>
</head>
<body>
<main class="flex">
    <nav id="holder" th:insert="fragments/header :: header_fragment"></nav>
    <section class="flex-1 bg-gray-900 bg-opacity-20">
        <div class="flex justify-center items-center h-screen text-center text-black">
            <form action="" enctype="multipart/form-data" method="post" id="ticket-form" class="bg-white shadow-md rounded-2xl px-8 pt-6 pb-8 mb-4">
                <div id="content">
                    <h1 class="block text-gray-700 text-4xl font-bold mb-2">New ticket</h1>
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="department-select">What is the area of ticket?</label>
                    <div class="mb-6">
                      <select class="shadow appearance-none border rounded-2xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="department-select" id="department-select">
                          <option value="*">Choose the option</option>
                          <option th:each="department : ${departmentList}" th:value="${department.name}" th:text="${department.name}"></option>
                      </select>
                  </div>
                  <button type="button" id="next-btn" class=" bg-gray-800 hover:bg-gray-600  text-white font-bold py-2 px-4 rounded-2xl focus:outline-none focus:shadow-outline">Next</button>
              </div>
          </form>
      </div>
  </section>
</main>
<script type="application/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/toastify.js}"></script>
<script th:src="@{/js/user_functions.js}"></script>
</body>
</html>