<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html"
      class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <title th:text="${'HelpDesk | Ticket no.'+ticket.id}"> </title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/toastify.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <script th:src="@{/js/JQuery/3.5.0/jquery.min.js}"></script>
  <script th:src="@{/js/fontawesome/v5/fontawesomeV5.js}" crossorigin="anonymous"></script>
</head>
<body>
<main class="flex">
  <nav id="holder" th:insert="fragments/header :: header_fragment"></nav>
  <section class="flex-1 bg-gray-900 bg-opacity-20">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Ticket details</h3>
        <input type="hidden" id="ticket-id" th:value="${ticket.id}">
      </div>
      <div class="border-t border-gray-200 overflow-y-scroll w-full" style="height: 93vh;">
        <dl>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Status/Priority</dt>
            <dd  class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <p id="ticketStatus">Status: <span class="ticketStatusValue" th:text="${ticket.status.status}"></span><button th:if="${ticket.status.status != 'VERIFICATION'}" type="button" class="ml-2 editStatusBtn text-white w-6 bg-yellow-500 hover:text-black rounded ease-in-out"><i class="fa-solid fa-pen-to-square"></i></button></p>
              <p id="ticketPriority">Priority: <span th:class="${ticket.priority.priority_name == 'HIGH' ? 'ticketPriorityValue text-red-500 font-bold' : 'ticketPriorityValue text-gray-900 font-semibold'}" th:text="${ticket.priority.priority_name}"></span></p>
            </dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Contact details</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <p class="font-bold"> Notifier Name: </p> <p th:text="${ticket.notifier.name}"></p>
              <p class="font-bold"> Notifier Surname: </p> <p th:text="${ticket.notifier.surname}"></p>
              <p class="font-bold"> Notifier Phone number: </p> <p th:text="${ticket.notifier.phone_number}"></p>
            </dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Email address</dt>
            <dd th:text="${ticket.notifier.email}" class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"></dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Ticket datetime</dt>
            <dd th:text="${ticket.ticket_time}" class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"></dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Ticket description</dt>
            <dd th:text="${ticket.description}" class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"></dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Department</dt>
            <dd  class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <div id="edit-department-name-section">
              <p id="department-name" th:text="${ticket.department.name}"></p>
              </div>
              <div id="edit-button-section">
              <button sec:authorize="hasAuthority('ADMIN')" type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="editDepartmentBtn inline-block px-6 py-2.5 bg-yellow-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-700 hover:shadow-lg focus:bg-yellow-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-800 active:shadow-lg transition duration-150 ease-in-out"
              > <i class='fa-solid fa-pen'></i> Change department</button>
              </div>
            </dd>
          </div>
          <div sec:authorize="hasAnyAuthority('ADMIN','DEPARTMENT_BOSS')" class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Assigned workers</dt>
            <dd   class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <section class="flex flex-wrap justify-center items-center">
                <div class="w-1/3">
                <p class="mb-2 text-sm font-semibold">All users available</p>
                  <input id="search-for-worker" type="text" class="m-2 rounded shadow-sm" placeholder="Search worker" /><br>
              <select size="6" id="available-workers" class="rounded shadow-sm">
                <option th:each="worker : ${workerList}" th:value="${worker.id}" th:text="${worker.name + ' ' + worker.surname}"></option>
              </select>
                </div>
                <div class="w-1/3">
              <button type="button" class="ml-2 mr-2 assignWorkerBtn text-white w-6 bg-green-500 hover:text-black rounded ease-in-out"><i class="fa-solid fa-right-long"></i></button>
              <button type="button" class="ml-2 mr-2 unassignWorkerBtn text-white w-6 bg-red-500 hover:text-black rounded ease-in-out"><i class="fa-solid fa-left-long"></i></button>
                </div>
                <div class="w-1/3">
              <p class="mb-2 text-sm font-semibold">Assigned users</p>
              <select size="6" id="assigned-workers" class="rounded shadow-sm">
                <option th:if="${ticket.getUserList().isEmpty()}" value="NONE">NONE</option>
                <option th:if="${!ticket.getUserList().isEmpty()}" th:each="user : ${ticket.getUserList()}" th:value="${user.id}" th:text="${user.name + ' ' +user.surname}">
                  {{USER NAME}}</option>
              </select>
                </div>
              </section>
            </dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Tasks</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <section class="flex flex-col">
                <div >
                  <span  th:if="${!ticket.getTicketTasksSet().isEmpty()}" id="task-section">
                  <button  th:if="${!task.isDone()==true}" th:each="task : ${ticket.getTicketTasksSet()}" th:value="${task.id}" th:text="${task.task}" type="button" th:class="${task.done == true ? 'showTaskBtn m-2 inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out' : 'showTaskBtn m-2 inline-block px-6 py-2.5 bg-blue-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out'}"
                  >{{TASK NAME}}</button>
                  </span>
                  <button sec:authorize="hasAnyAuthority('ADMIN','DEPARTMENT_BOSS')" type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="addTaskBtn m-2 inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out"
                  ><i class="fa-solid fa-plus"></i></button>
                </div>
              </section>
            </dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Solution</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <section id="solution-section" sec:authorize="isAuthenticated()">
                <div th:if="${ticket.solution != null}">
                  <p class='font-bold'>Your solution:</p>
                  <p th:text="${ticket.solution.id}" class="hidden" id="solution-id"></p>
                  <p th:text="${ticket.solution.solution}" id="solution-content" class='font-light'>{{TICKET_SOLUTION}}</p>
                </div>
                <p th:if="${ticket.solution !=null and ticket.solution.rejection_description != null}" th:text="${'Rejection description: '+ ticket.solution.rejection_description}" class="text-red-500 font-semibold mt-2"></p>
                <button th:if="${ticket.solution != null and ticket.status.status != 'VERIFICATION'}" type='button' data-mdb-ripple='true' data-mdb-ripple-color='light' class='editSolution mt-2 inline-block px-6 py-2.5 bg-yellow-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-600 hover:shadow-lg focus:bg-yellow-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-800 active:shadow-lg transition duration-150 ease-in-out'><i class='fa-solid fa-pen'></i> Edit</button>
                <button th:if="${ticket.solution != null and ticket.status.status != 'VERIFICATION'}" type='button' data-mdb-ripple='true' data-mdb-ripple-color='light' class='deleteSolution mt-2 inline-block px-6 py-2.5 bg-red-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out'><i class='fa-solid fa-trash'></i> Delete solution</button>
                <div th:if="${ticket.solution == null}">
                  <h3 class="font-bold">Please enter the solution of the ticket <span class="text-red-500 text-sm">(Without a solution, you cannot submit your ticket for verification)</span></h3>
                  <textarea id="solution-text" placeholder="Solution content" class="shadow appearance-none border rounded w-full mt-2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
                  <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="addSolution mt-2 inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out"
                  > <i class='fa-solid fa-plus'></i> Add solution</button>
                  <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="solutionDbOpen mt-2 inline-block px-6 py-2.5 bg-blue-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                  > <i class='fa-solid fa-database'></i> Open solution database</button>
                </div>
              </section>
            </dd>
          </div>
          <div  th:if="${ticket.getAttachmentSet()!=null and !ticket.getAttachmentSet().isEmpty()}" class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Attachments</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
                <li th:each="attachment : ${ticket.getAttachmentSet()}" class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                  <div class="flex w-0 flex-1 items-center">
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                    </svg>
                    <span th:text="${attachment.name}" class="ml-2 w-0 flex-1 truncate"></span>
                  </div>
                  <div class="ml-4 flex-shrink-0">
                    <a th:href="${attachment.url}" class="font-medium text-indigo-600 hover:text-indigo-500" download>Download</a>
                  </div>
                </li>
              </ul>
            </dd>
          </div>
          <div th:if="${documentation != null}" class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" >
            <dt class="text-sm font-medium text-gray-500">Documentation</dt>
            <dd id="documentation-area" class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <div th:if="${ticket.status.status == 'VERIFICATION'}" sec:authorize="hasAuthority('WORKER')">
                <p class="font-bold">This ticket is under review, you cannot add new documentation to it.</p>
              </div>
              <p th:if="${ticket.status.status != 'VERIFICATION'}" sec:authorize="hasAuthority('WORKER')" class="text-right">
                <button id="editButton" class="text-gray-800 font-bold">Edit</button>
              </p>
              <input type="hidden" id="documentation-id" th:value="${documentation.id}">
              <p class="font-bold">Documentation content:</p>
              <p id="docs-description" th:text="${documentation.description}"></p>
              <p class="font-bold">Attachments:</p>
              <ul th:if="${documentation.getDocumentationAttachmentsSet() != null and !documentation.getDocumentationAttachmentsSet().isEmpty()}" role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
                <li th:value="${docs.id}" th:each="docs : ${documentation.getDocumentationAttachmentsSet()}" class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                  <div class="flex w-0 flex-1 items-center">
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                    </svg>
                    <span th:text="${docs.name}" class="ml-2 w-0 flex-1 truncate"></span>
                  </div>
                  <div class="ml-4 flex-shrink-0">
                    <a th:href="${docs.url}" class="font-medium text-indigo-600 hover:text-indigo-500" download>Download</a>
                  </div>
                </li>
              </ul>
            </dd>
          </div>
          <div th:if="${documentation == null}" class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" >
            <dt class="text-sm font-medium text-gray-500">Documentation</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <div th:if="${ticket.status.status != 'VERIFICATION'}" sec:authorize="hasAuthority('WORKER')">
              <p class="font-bold">Documentation content:</p>
              <form th:action="@{/worker/api/addDocumentation}" enctype="multipart/form-data" method="post">
                <input type="hidden" name="ticket" th:value="${ticket.id}">
                <textarea name="content" placeholder="Documentation content" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
                <p class="font-bold">Attachments:</p>
                <input type="file" id="attachments" name="attachments" multiple="multiple">
                <button type="submit" class="bg-gray-800 hover:bg-gray-600 mt-2 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add documentation</button>
              </form>
              </div>
              <div id="message-for-worker" th:if="${ticket.status.status == 'VERIFICATION'}" sec:authorize="hasAuthority('WORKER')">
                <p class="font-bold">This ticket is under review, you cannot add new documentation to it.</p>
              </div>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>
</main>
<script type="application/javascript" th:src="@{/js/templates/section.js}"></script>
<script type="application/javascript" th:src="@{/js/main.js}"></script>
<script type="application/javascript" th:src="@{/js/worker_functions.js}"></script>
<script type="text/javascript" th:src="@{/js/toastify.js}"></script>
<div th:insert="fragments/modals :: show_solution_db_modal"></div>
<div th:insert="fragments/modals :: show_solution_modal"></div>
<div th:insert="fragments/modals :: task_modal"></div>
<div th:insert="fragments/modals :: show_task_modal"></div>
</body>
</html>